#formElements{
    
  display: grid;
  row-gap: 0.5em;


}
#contact {

  padding: 2rem;
  max-width: 400px;
  margin: 2rem auto;   

}

fieldset {
 border: 10px solid #F5946C;
 border-style: inset;
 margin: 0 auto;
 
}
legend {
  background-color: brown;
  color: rgb(255, 255, 255);
  padding: 0.5em;
  margin-left: -4em;

}

#contactwrapper {

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  
  
  }
  
  #contactwrapper select {
  
    width: 100%;  
  }
  
  #contact input, #contact textarea, #contact select, #contact button {
      padding: 0.5em;
      font-size: 1rem;
  
  }
  

#contact ul {

  list-style: none;
  padding: 0px;

}
li {
  margin: 0.5em;

}

#contact button {

  background-color:brown;
  color: rgb(255, 255, 255);
  max-width: 400px;
  justify-self: stretch;
}



