/*Changes the fonts, background and font*/ 
body {
    font-family: Gabarito;
    background-color: #F5BC6C;
    color: #2637F5;
    
}

/* heading properties*/
h1, h2, h3, h4, h5, h6 {

    font-family: Pixelify Sans;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;

}

h2 {
    margin: 0.02rem;
}

/* Resizes the orgiami img*/
header > img {
    height:200px;
    width: 200px;


}


header {
    text-align: center;
  
}

/* Hero */
#hero img {
height: 400px;
width: 400px;

}

/*Style for #hero and footer*/
/*margin does not affect container*/
#hero, footer {
    background-color: #A36A1A;
    border: #76C3F5 6px solid;
    text-align: center;
    color: rgb(208, 213, 237);
    font-size: 20px;
    margin: 0 auto;
    max-width: 60rem;
    
}

/* Bio Sections */
#bio {
    text-align: center;
    font-size: 20px;
}

/*Hobbies */

#hobbies {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

/*Style for #gallery elements*/
#gallery {
    border: #F5946C 14px solid;
    text-align: center;
    font-size: 20px;
    margin-bottom: 2rem;
   
   

}
 img {
    max-width: 100%;

}
/*Note: Does not show up*/
 figcaption
 {
    text-decoration-style: wavy;
}

/*Excerpt*/
#lit {
  border: #F5946C 14px solid;
  margin-bottom: 2rem;
 
}

 #lit div {
   font-size: 20px;
   max-width: 40rem;
   margin: 0 auto;
 }


/*Tablet Media Rules*/

@media screen and (min-width: 960px) {

    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;


}
    figcaption {
       display: flex;
       /*main axis*/
       justify-content: center;
       /*cross axis*/
       align-items: center;  

       font-size: 25px;

    }
    
    #lit div {
        /* Max-width = percentage
         of container */
        max-width: 100%;
        columns: 20rem;
        

        
    }
}
/* Larger Screen Rules */
@media screen and (min-width: 1600px) {

  #gallery {

   
  }

 
}
